main{

  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  //position: relative;
  //background-color: red;
  position: absolute;
 // justify-content: space-evenly;

 // background-color: #0b0a0a;
  width: 85%;
  height: 100%;
  gap: 100px;
  overflow-y: scroll;

//  overflow-x: hidden;

}

app-boutton{
  align-self: center;
 // margin-left: 500px;

}

.grid-card {
 // background-color: #0667ad;
 // margin-left: 30px;

  align-self: center;
  align-items: center;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  gap: 20px;
 // margin-left: 300px;
  //margin-left: 500px;
  app-test-card{
    width: 30%;
    height: 200px;
    display: flex;
    align-self: center;

  }

  #card1{

    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  #card2{
  //  margin-top: 150px;
    grid-column-start: 2;
    grid-row-start: 0.5;
    grid-row-end:2;
  }
  #card3{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
}
app-test-card{
  position: relative;
}


mat-card{
  width: 95%;
  height: 800px;
  //overflow-y: scroll;
  border-radius: 20px;
  align-self: center;

  table{
    width: 100%;
    ng-container{
      width: 100%;
      height: 100%;

    }
  }
}



td{

  width: 20px;
  height: 20px;


.image{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
}
.zone{
  display: flex;
  align-items: flex-end;
  width: 95%;
  justify-content: flex-end;
}
