<nav @statechange class="resp-nav">

  <ul class="items">
    <li><a class="limk" (click)="closedstate()" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home </a></li>
    <li><a class="limk" routerLink="about-us" routerLinkActive="active"> About us</a></li>
    <li><a class="limk" routerLink ="project" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Products</a></li>
    <li><a class="limk" >Services</a></li>

  </ul>

  <div class="boutton-login">

    <!--    <button> Login </button>-->
    <!--    <button> sing up </button>-->
    <app-boutton [stateview]="stateviewSign" ></app-boutton>
    <app-boutton  [stateview]="stateviewLogIn" ></app-boutton>

  </div>
</nav>
