<footer class="footer">

  <div class="description">

    <img src="assets/logo%20Bureau%20developpement.png" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, sint?</p>

  </div>

  <div class="divider"></div>
<div class="el">
  <div class="element">
    <p class="first">Services</p>
    <p>Email</p>
    <p>Phone</p>
    <p>Address</p>

  </div>


  <div class="element">
    <p class="first">About</p>
    <p>Our story</p>
    <p>Project</p>
  </div>


  <div class="element">
    <p class="first">Follow us</p>
    <p>Email</p>
    <p>Phone</p>
    <p>Address</p>

  </div>

</div>

</footer>
