.footer{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(14, 62, 99, 0.5);
  .el{

    display: flex;
    font-size: 20px;
    gap: 230px;

    height: 50%;

  }

  @media screen and (max-width: 1280px){

    display: flex;
    flex-direction: column;
    .el{

      display: flex;
      flex-direction: column;
      align-self: flex-start;
      font-size: 25px;
      margin-left: 20px;

      height: 50%;


    }

  }
  .description{
    display: flex;
    width: 30%;
    height: 50px;
    font-size: 20px;
    gap: 30px;
    align-self: center;
    color: rgba(40, 66, 86, 0.7);
    @media screen and (max-width: 1280px){

      display: flex;

      width: 100%;
      height: 80%;
      text-align: center;

      p{
        align-self: center;
      }
      //text-align: center;
      //border: 1px solid saddlebrown;
    }




    img{
      width: 40%;
      height:150%;

      @media screen  and (max-width: 1280px){
        width: 30%;
        height: 50%;
        align-self: center;

      }
    }


  }

  .divider{
   // width: 1px;
    margin-bottom: 100px;
    height: 200px;
    border: 1px solid rgba(14, 62, 99, 0.3);
    @media screen and (max-width: 1280px){

      width: 60%;
      align-self: center;
      height: 2px;

    }
  }
  .element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgba(40, 66, 86, 0.7);
    .first {
      //background-color: #284256;
      color: #7222f4;
      margin-bottom: 10px
    }
  }
}

