<main>
  <app-user-avatar [userModel]="user"></app-user-avatar>

  <div class="descripton">

    <h1 class="name">{{user.name}}</h1>
    <p>{{user.description}}</p>

  </div>

  <app-boutton [stateview]="signout" (click)="signOut()"></app-boutton>

</main>

<!--<div class="col-md-4">-->
<!--  <div class="card card-user">-->
<!--    <div class="image">-->
<!--      <img  [src]="user.imageAvatar"  alt="...">-->
<!--    </div>-->
<!--    <div class="card-body">-->
<!--      <div class="author">-->
<!--        <a href="#">-->
<!--          <img class="avatar border-gray" src="/assets/blob-noise.png" alt="...">-->
<!--          <h5 class="title">{{ user.name }}</h5>-->
<!--        </a>-->
<!--        <p class="description">-->
<!--          {{ user.email}}-->
<!--        </p>-->
<!--      </div>-->
<!--      <p class="description text-center">-->
<!--       {{ user.description}}-->
<!--      </p>-->
<!--    </div>-->
<!--    <hr>-->
<!--    <div class="button-container">-->
<!--      <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">-->
<!--        <i class="fab fa-facebook-f"></i>-->
<!--      </button>-->
<!--      <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--      </button>-->
<!--      <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">-->
<!--        <i class="fab fa-google-plus-g"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
