main{
  width: 100%;
  background-color: white;
  height: 100%;
  display: flex;
  border-radius: 20px;
 // justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  app-user-avatar{
    margin-top: 20px;
    width: 30%;
    align-content: flex-start;
    height: 30%;
  }

  .description{
  }




  .description{
    width: 100%;
    align-self: center;
    align-items: center;
    text-align: center;

    .name{
      align-self: center;
      color: #5C8DF6;
      align-items: center;
      font-size: 25px;
    }
  }
}
