<div  class="search-bar">
<mat-form-field class="category">
  <mat-label class="title">Location</mat-label>
  <mat-select>
    <mat-option value="one">select your city</mat-option>
    <mat-option>hy</mat-option>
  </mat-select>


</mat-form-field>

  <div class="divide"></div>

  <mat-form-field class="category">
    <mat-label class="title">Rating</mat-label>
    <mat-select placeholder="select your country ">
      <mat-option>select your Rating</mat-option>
      <mat-option>hy</mat-option>
    </mat-select>


  </mat-form-field>
<div class="divide"></div>
  <mat-form-field class="category">
    <mat-label class="title">Type</mat-label>
    <mat-select>
      <mat-option>select your Type</mat-option>
      <mat-option>hy</mat-option>
    </mat-select>


  </mat-form-field>

  <app-boutton  [stateview]="submit" ></app-boutton>
</div>
