<ng-form class="search-bar">
<div class="category">
  <div class="title">Location</div>
  <select required>
    <option>select your city</option>
    <option>hy</option>
  </select>


</div>

  <div class="divide"></div>

  <div class="category">
    <div class="title">Rating</div>
    <select required>
      <option>select your Rating</option>
      <option>hy</option>
    </select>


  </div>
<div class="divide"></div>
  <div class="category">
    <div class="title">Type</div>
    <select required>
      <option>select your Type</option>
      <option>hy</option>
    </select>


  </div>

  <app-boutton  [stateview]="submit" ></app-boutton>
</ng-form>
