
main{
display: flex;

  flex-direction: column;
  gap: 200px;
  height:  100%;
  width: 100%;
  //align-items: center;
  //background-color: rgba(191, 191, 191, 0.3);



}

app-project-intro{

  align-self: center;
  width: 90%;
  //background-color: rebeccapurple;
  height: 30%;
  @media screen and (max-width: 1225px){
    width: 100%;

  }


}

app-identity-work{

 width: 90%;
  height: 900px;
  align-self: center;
  @media screen and (max-width: 1225px){
    width: 100%;

  }
}

app-card-project-presentation{
  align-self: center;
  @media screen and (max-width: 1225px){
  //  width: 100%;
    align-self: center;

  }
}

app-mission-project{
  align-self: center;
  width: 90%;
  @media screen and (max-width: 1225px){
    width: 100%;

  }
}
.project{
  width: 90%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  align-items: center;

  gap: 20px;
  background-image: url("/src/assets/grid-pattern.jpeg");

  h1{
    width: 100%;
    font-size: 60px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #284256 ;


    app-boutton{
      font-size: 20px;
      margin-right: 230px;


      @media screen and (max-width: 1225px) {
        width: 80%;
        align-self: center;
      }
    }


    @media screen and (max-width: 1225px) {
      width: 100%;
      height: 10%;
      display: flex;
      flex-direction: column;
      text-align: center;

      font-size: 200%;
      //gap: 20px;

    }
  }
 // height: 80%;
  .list-project {
    width: 100%;

    //height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow: hidden;

    app-card-pro {
      width: 20%;
      height: 400px;
      align-self: center;

      @media screen and (max-width: 1225px) {
        //width: 100%;
        //display: flex;
        //flex-direction: column;
        //gap: 20px;
        //overflow-y: scroll;

        width: 80%;
        height: 800px;

        @media screen  and (max-width: 780px){
            height: 480px
        }
      }

    }
    @media screen and (max-width: 1225px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

    }
  }
}

.see-less{
  align-self: flex-end;
}
app-main-presentation{

  height: 1225px;

}
