main{
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  gap: 20px;
  //position: relative;
  //background-color: red;
  position: absolute;

  // background-color: #0b0a0a;
  width: 85%;
  height: 100%;
  overflow-y: scroll;



  .grid{
    //background-color: #0b0a0a;
    display: flex;
    margin-left: 50px;

    width: 90%;
    height: 600px;
    align-self: flex-end;
    margin-bottom: 80px;
    align-items: center;
   // overflow: hidden;

    flex-wrap: wrap;

    gap: 50px;
    app-countries-presentations{
      width: 25%;
      height: 500px;
      margin-left: 20px;
      align-self: center;
      align-items: center;

      @media screen  and (max-width: 1225px){
        height: 800px;
        margin-left: 0;

      }
    }
  }

}
