main{
  width: 100%;
  //background-color: #919090;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 150px;


  .grid{
    //background-color: #0b0a0a;
    display: flex;
    margin-left: 50px;

    width: 100%;
    height: 600px;
    align-self: flex-end;
    margin-bottom: 80px;
    align-items: center;
   // overflow: hidden;

    flex-wrap: wrap;

    gap: 50px;
    app-countries-presentations{
      width: 25%;
      height: 500px;
      margin-left: 20px;
      align-self: center;
      align-items: center;

      @media screen  and (max-width: 1225px){
        height: 800px;
        margin-left: 0;

      }
    }
  }

}
