<main>
<app-sear-bar></app-sear-bar>

  <div class="grid">


      <app-card-present (click)="navigate(card)" *ngFor=" let card of Cards | async"  [cardModel]="card"></app-card-present>



  </div>

<!--  <app-countries-manage-card></app-countries-manage-card>-->
<!--  <app-countries-manage-card></app-countries-manage-card>-->
<!--  <app-countries-manage-card></app-countries-manage-card>-->
<!--  <app-countries-manage-card></app-countries-manage-card>-->
<!--  <app-countries-manage-card></app-countries-manage-card>-->
<!--  <app-countries-manage-card></app-countries-manage-card>-->
</main>
