@import url('https://fonts.googleapis.com/css2?family=Coda&family=Montserrat:wght@600&family=Poppins:wght@500&display=swap');

*{

  list-style: none;
  margin: 0;
  padding: 0;
font-family: 'poppins' , 'sans-serif' ;
}
a{
  all : unset;

  transition: font-size ease-in-out 0.5s , color ease-in-out 0.5s , text-decoration ease-in-out 0.5s;
}

a:hover{
  color: black;
}
.nav-bar{
  //position: fixed;
 // z-index: 5;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  margin-bottom: 20px;

.icon{
  display: flex;
  width: 140px;
  height: 80px;
  align-self: center;
  margin-left: 90px;
  font-size: 40px;
  @media screen  and (max-width: 1225px){
    display: block;
    width: 180px;
    height: 80px;
    margin: 0;
    @media screen  and (max-width: 780px){
  width: 80px;
  height: 80px;

    }

  }
}

  .items{
    display: flex;
    justify-content: space-around;

    margin-left: 50px;
    @media screen  and (max-width: 1225px){
      display: none;

    }


    li{
      margin-right: 50px;
      font-size-adjust: initial;
      text-align: center;
      align-self: center;
      color: #919090;
      font-family: "Poppins" , "sans-serif";
      //font-size: 10px;

    }



  }

  .boutton-login{
    display: flex;
    align-self: center;
    margin-right: 90px;
    @media screen  and (max-width: 1225px){
      display: none;

    }
    app-boutton{
      margin-left: 30px;
    }

  }

}

app-burger-button{
  display: none;

  @media screen  and (max-width: 1225px) {
    display: flex;

  }
}

.active{

  font-size: 20px;
  text-decoration: underline 5px;
  color: black;
}


.rep-nav{
  display: none;
  flex-direction: column;
  position: relative;
  width: 10%;
  height: 100%;
  align-self: center;
  @media screen  and (max-width: 1225px) {

    display: flex;

  }

  app-responsive-menu{
    //display: none;
    position: absolute;
    //width: 540px;
    width: 900%;
    height: 640px;
    margin-top: 100px;
    align-self: center;
    margin-right: 450px;



  }

}

.activated{
  display: none;
  //flex-direction: column;
}

app-user-avatar{
  width: 50px;
  height: 50px;
  align-self: center;
  align-items: center;

}

.profile{
  width: 3%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin-right: 90px;
  //margin-top: 45px;
  @media screen  and (max-width: 1225px){
    display: none;

  }
}
