<nav class="nav-bar" >
<!--  <p class="icon">Cojecam</p>-->
  <img class="icon" src='/assets/logo%20Bureau%20developpement.png' alt="">


  <ul class="items">
    <li><a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home </a></li>
    <li><a routerLink="about-us" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" > About us</a></li>
    <li><a routerLink ="worker" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Products</a></li>
    <li><a routerLink="countries" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}">Services</a></li>
    <li><a routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" >Dashboard</a></li>
    <li><a routerLink="work-director" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true}" >Dashboard</a></li>

  </ul>

  <div *ngIf="!isidentified" class="boutton-login">

<!--    <button> Login </button>-->
<!--    <button> sing up </button>-->
    <app-boutton (click)="navigateRoute('signUp')" [stateview]="stateviewSign" ></app-boutton>
    <app-boutton (click)="navigateRoute('login')"  [stateview]="stateviewLogIn" ></app-boutton>

  </div>

  <div *ngIf="isidentified" class="profile">

    <app-user-avatar (click)="navigateRoute('profile')" [userModel]="userModel"></app-user-avatar>


    <!--    <button> Login </button>-->
    <!--    <button> sing up </button>-->
<!--    <app-boutton (click)="navigateRoute('signUp')" [stateview]="stateviewSign" ></app-boutton>-->
<!--    <app-boutton (click)="navigateRoute('login')"  [stateview]="stateviewLogIn" ></app-boutton>-->

  </div>


  <div class="rep-nav">
    <app-burger-button (click)="statechange()" ></app-burger-button>
    <app-responsive-menu *ngIf="stated " ></app-responsive-menu>
  </div>

</nav>


