<div class=" card relative  max-w-md overflow-hidden rounded-lg bg-white shadow">
  <div>
    <img [src]="cardModel.image1" class="w-full object-cover" alt="" />

  </div>
  <div class="absolute inset-0 z-10 bg-gradient-to-t from-black"></div>
  <div class="absolute inset-x-0 bottom-0 z-20 p-4">
    <p class="mb-1 text-sm text-white text-opacity-80">{{ cardModel.pnb}} <time>{{cardModel.population}}</time></p>
    <h3 class="text-xl font-medium text-white">{{ cardModel.countries }}</h3>
    <p class="mt-1 text-white text-opacity-80">{{ cardModel.description1}}</p>
  </div>
</div>
