main{
  background-image: linear-gradient( rgb(77, 121, 155), rgb(127, 115, 164));


  display: flex;
  overflow-x: hidden;

  width: 100%;
  //flex-direction: column;
  height: 100%;
  //background-color: red;
}

app-side-bar{

  align-self: flex-start;
  width: 15%;
  height: 100%;

  //z-index: 4;


}


//router-outlet{
//  width: 80%;
//  height: 100%;
//}

