main{
  //background-image: linear-gradient( rgb(77, 121, 155), rgb(127, 115, 164));

  background-image: linear-gradient( rgb(225, 241, 252), rgb(174, 208, 233), rgb(78, 151, 188));


  display: flex;
  overflow-x: hidden;

  width: 100%;
  //flex-direction: column;
  height: 100%;
  //background-color: red;
}

app-side-bar{

margin-top: 30px;
  margin-left: 20px;
  align-self: flex-start;
  width: 15%;
  height: 85%;

  //z-index: 4;


}


//router-outlet{
//  width: 80%;
//  height: 100%;
//}

