<nav class="nav-bar" >
<!--  <p class="icon">Cojecam</p>-->
  <img class="icon" src='/assets/logo%20Bureau%20developpement.png' alt="">


  <ul class="items">
    <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Home </a></li>
    <li><a routerLink="about-us" routerLinkActive="active"> About us</a></li>
    <li><a routerLink ="project" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Products</a></li>
    <li><a>Services</a></li>

  </ul>

  <div class="boutton-login">

<!--    <button> Login </button>-->
<!--    <button> sing up </button>-->
    <app-boutton [stateview]="stateviewSign" ></app-boutton>
    <app-boutton  [stateview]="stateviewLogIn" ></app-boutton>

  </div>


  <div class="rep-nav">
    <app-burger-button (click)="statechange()" ></app-burger-button>
    <app-responsive-menu *ngIf="stated " ></app-responsive-menu>
  </div>

</nav>


