<nav class="nav-bar">
<!--  <p class="icon">Cojecam</p>-->
  <img class="icon" src='/assets/logo%20Bureau%20developpement.png' alt="">


  <ul class="items">
    <li><a>Home </a></li>
    <li><a> About us</a></li>
    <li><a>Products</a></li>
    <li><a>Services</a></li>

  </ul>

  <div class="boutton-login">

<!--    <button> Login </button>-->
<!--    <button> sing up </button>-->
    <app-boutton [stateview]="stateviewSign" ></app-boutton>
    <app-boutton  [stateview]="stateviewLogIn" ></app-boutton>

  </div>

  <app-burger-button></app-burger-button>
</nav>
