
  <mat-card class="list">
    <mat-card-content>
      <a routerLink="dashboard" routerLinkActive="" [routerLinkActiveOptions]="{ exact :true}" ><app-boutton-icon [bouttonIconModel]="dashborad"></app-boutton-icon></a>
      <a routerLink="countries-manage"><app-boutton-icon [bouttonIconModel]="countries"></app-boutton-icon></a>
      <a><app-boutton-icon routerLink="manage-project" [bouttonIconModel]="project"></app-boutton-icon></a>
      <a routerLink="home"><app-boutton-icon [bouttonIconModel]="home"></app-boutton-icon></a>

    </mat-card-content>





  </mat-card>




