<main>
  <div class="list">
    <a routerLink="user-manage" routerLinkActive="" [routerLinkActiveOptions]="{ exact :true}"><app-boutton-icon></app-boutton-icon></a>
    <a routerLink="dashboard" routerLinkActive="" [routerLinkActiveOptions]="{ exact :true}" ><app-boutton-icon></app-boutton-icon></a>
    <a routerLink="home"><app-boutton-icon></app-boutton-icon></a>
    <a routerLink="countries-manage"><app-boutton-icon></app-boutton-icon></a>
    <a><app-boutton-icon></app-boutton-icon></a>





  </div>



</main>
