
  <mat-card class="list">
    <mat-card-content>
      <a routerLink="user-manage" routerLinkActive="" [routerLinkActiveOptions]="{ exact :true}"><app-boutton-icon></app-boutton-icon></a>
      <a routerLink="dashboard" routerLinkActive="" [routerLinkActiveOptions]="{ exact :true}" ><app-boutton-icon></app-boutton-icon></a>
      <a routerLink="home"><app-boutton-icon></app-boutton-icon></a>
      <a routerLink="countries-manage"><app-boutton-icon></app-boutton-icon></a>
      <a><app-boutton-icon routerLink="manage-project"></app-boutton-icon></a>

    </mat-card-content>





  </mat-card>




