main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 150px;
}
.main-presentations{
img{
  border-radius: 20px;
}
  width: 100%;
  height: 800px;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
   ;
  backface-visibility: hidden;
  h1{

    margin-left: 80px;
    font-size: 80px;
    align-self: center;

    img{

      width: 80px;
      height: 80px;
    }
  }
}

.see-less{
  align-self: flex-end;
}


.paragraphe{

  align-self: center;
  text-align: center;
  display: flex;
  justify-content: center;
//  background-color: #0667ad;
  width: 100%;
  height: 100%;
}

span{
  color: #2f6abc;
}

.second{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 100%;
  height: 100%;
  //overflow: hidden;

  img{
    height: 30%;
  }
  gap:20px ;

  p{
    position: relative;
    width: 100%;
    text-align: center;
  }

}

.add{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  width: 80%;

  app-boutton{
    align-self: flex-end;
  }
}
