<main>
  <div class="main-presentations">
    <h1>Germany <img src="/assets/germany.png" alt=""></h1>
  </div>

  <div class="details-countrues">'

  <div class="first">
    <ul>
      <li>{{ Statut }}</li>
      <li>{{ PNB }}</li>
      <li>{{ Superficie }}</li>
      <li>{{ Esp }}</li>
<!--      religion-->
      <li> {{ Religions }}</li>
      <li> {{ Regions }}</li>
      <li>{{ PV }}</li>
      <li>{{ Population }}</li>
      <li>{{ Capital }}</li>

  </ul>

<p>{{ Description1 }}</p>
    <img src="/assets/building4.jpg" alt="">
  </div>
<div class="div">
  <h1>Germany</h1>
  <img src="/assets/building4.jpg" alt="">
</div>


    <div class="second">
      <img src="/assets/building4.jpg" alt="">
<p>{{ Description2 }}</p>
    </div>
  </div>

  <div class="project">

    <h1>Recently project
      <app-boutton [stateview]="seemore" class="see-more" (click)="increment()"></app-boutton>
    </h1>
    <div class="list-project">
      <app-card-pro *ngFor="let card of subList" [cardPresentation]="card"></app-card-pro>

    </div>
    <app-boutton [stateview]="seeless" class="see-less" *ngIf="decrement" (click)="dicrement()"></app-boutton>



  </div>
</main>
