<main>
  <div [ngStyle]="{backgroundImage: 'url(' + image2 + ')'}" class="main-presentations">
    <h1>{{ name }}  <div class="image" [ngStyle]="{ backgroundImage : 'url('+image1+')'}"></div>
    </h1>
  </div>

  <div class="details-countrues">'

  <div class="first">
    <ul>
<!--      <li>countries :  <span></span></li>-->
      <li>PIB :   <span>{{ PNB }}</span></li>
      <li>Superficie :    <span>{{ Superficie }} </span></li>
      <li>Esperence de vie :   <span>{{ Esp }} </span></li>
      <li>Religions :  <span> {{ Religions }} </span></li>
      <li>Regions :   <span>{{ Regions }} </span></li>
<!--      religion-->


  </ul>

<p>{{ Description1 | lowercase }}</p>
<!--    <img [src]="image2" alt="">-->
    <div class="image" [ngStyle]="{ backgroundImage : 'url('+image2+')'}"></div>
  </div>
<div class="div">
  <h1>{{name}}</h1>
  <div class="image" [ngStyle]="{ backgroundImage : 'url('+image4+')'}"></div>
</div>


    <div class="second">
      <div class="image" [ngStyle]="{ backgroundImage : 'url('+image5+')'}"></div>

<ul>


        <li>Principaux villes :   <span>{{ PV }} </span></li>
        <li>Population :   <span>{{ Population }} </span></li>
        <li>Capital :  <span> {{ Capital }}  </span></li>
</ul>
      <p>{{ Description2 | lowercase }}</p>
      </div>


  </div>

<div class="add">
  <app-boutton  [stateview]="addmore" class="see-more" (click)="onAdd()"></app-boutton>

</div>

  <div class="project">

    <h1>Recently project
      <app-boutton [stateview]="seemore" class="see-more" (click)="increment()"></app-boutton>
    </h1>
    <div class="list-project">

      <app-card-pro (click)="WorkRoute(i)" *ngFor="let card of subList | async let i = index" [cardPresentation]="card"></app-card-pro>

    </div>
    <app-boutton [stateview]="seeless" class="see-less" *ngIf="decrement" (click)="dicrement()"></app-boutton>



  </div>
</main>
