main{
  display: flex;




  flex-direction: column;
  justify-content: space-between;
  app-menu-bar{
    height: 20%;
  }

  app-home-page{
    margin-top: 20px;
  }

  app-footer{
    height: 300px;
  }
}




app-main-presentation{
align-self: center;
}
