<!--<main>-->
<!--  <app-menu-bar (scroll)="colorChange()"></app-menu-bar>-->
<!--&lt;!&ndash;  <app-home-page></app-home-page>&ndash;&gt;-->
<!--&lt;!&ndash;  <app-project-page></app-project-page>&ndash;&gt;-->
<!--  <router-outlet></router-outlet>-->
<!--  <app-footer></app-footer>-->
<!--&lt;!&ndash;  <app-sear-bar></app-sear-bar>&ndash;&gt;-->


<!--</main>-->
<!--<app-menu-bar></app-menu-bar>-->

<router-outlet></router-outlet>

<!--<main *ngIf="state$ | async">-->
<!--  <app-loader ></app-loader>-->
<!--  loading ....-->
<!--</main>-->


