.main-presentation{
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 1;
  align-items: center;

  @media screen  and (max-width: 1225px){
    flex-direction: column;

  }

  .description{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 50px;
   // margin-bottom: 30px;
    h1{
      font-size: 70px;
      color: #284256 ;

      //inline-size: 1px;
      @media screen and (max-width: 1225px){
        font-size: 180%;
        text-align: center;

      }
    }
h2{
  color: #919090;
}
    @media screen  and (max-width: 780px){
      text-align: center;
    }

  }

  img{
    width: 50%;
    height: 100%;
    border-radius: 20px;
    @media screen and (max-width: 1225px){
     // font-size: 180%;
      width: 100%;

    }
  }

  //padding: 50px;



}

app-boutton{
  align-items: center;
  align-self: flex-start;
  @media screen  and (max-width: 1225px){
    text-align: center;
    align-self: center;
  }

}
