

<main>

  <app-project-intro [Project]="Project"></app-project-intro>
  <app-card-project-presentation [cardPresentation]="cardpresentation" ></app-card-project-presentation>
<app-identity-work [Identity]="identity"></app-identity-work>
  <app-card-project-presentation [cardPresentation]="cardpresentationmission" ></app-card-project-presentation>


  <app-mission-project [MissionWork]="mission"></app-mission-project>
  <app-card-project-presentation [cardPresentation]="cardpresentationproject" ></app-card-project-presentation>
<div class="project">

  <h1>Recently project
    <app-boutton [stateview]="seemore" class="see-more" (click)="increment()"></app-boutton>
  </h1>
 <div class="list-project">
   <app-card-pro *ngFor="let card of subList" [cardPresentation]="card"></app-card-pro>

 </div>
<app-boutton [stateview]="seeless" class="see-less" *ngIf="decrement" (click)="dicrement()"></app-boutton>



</div>

  <app-main-presentation></app-main-presentation>
</main>




