*{
  margin: 0;
  padding: 0;
  font-family: 'poppins' , 'sans-serif';
}
.main-composant{
  //position: absolute;
  //z-index: 1;
  background-image: url("/assets/grid-pattern.jpeg");

}
.big-main{
  //position: absolute;
  //z-index: 1;
  background-image: url("/assets/grid-pattern.jpeg");

  width: 100%;
 // height: 100%;
  display: flex;
  flex-flow: column-reverse;
  flex-direction: column;
  //border: 1px solid;

}
.main-presentation{

  display: flex;
  width: 100%;
  height: 80%;
  //z-index: 1;

  @media screen  and (max-width: 1025px){
    flex-direction: column;
    text-align: center;

  }


  //padding: 50px;



}
.description{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 50px;
  //margin-bottom: 30px;
  @media screen  and (max-width: 780px){
    text-align: center;
  }
  h1{
    color: #284256 ;

    font-size: 70px;
    @media screen and (max-width: 1453px){
      font-size: 280%;
      text-align: center;

    }

    //inline-size: 1px;
  }
  h2{

    @media screen and (max-width: 1280px){
      font-size: 100%;
      text-align: center;
     // color: red;

    }
  }
}
.image{
  //align-self: center;
  width: 45%;
  height: 680px;
  position: relative;
  background-size: cover;
 // z-index: 1;
  //flex: 2;

  @media screen  and (max-width: 1225px){
    width: 100%;
    height: 50%;
    position: relative;

  }

}
app-sear-bar{
  width: 80%;
  height: 20%;
  align-self: center;
  align-content: flex-end;
  flex: 1;
  position: absolute;
  margin-top: 542px;
  z-index: 2;
  //margin-bottom: 30px;

  @media screen  and (max-width: 1225px){
    width: 40%;
    margin-top: 742px;
    align-self: center;

    @media screen and (max-width: 780px){
      width: 90%;
      align-self: center;

    }

  }

}
