<div  class="search-bar">
<div class="category">
  <label class="title">Location</label>
  <select>
    <option value="one">select your city</option>
    <option>hy</option>
  </select>

<!--  <mat-form-field>-->
<!--    <mat-label>Location</mat-label>-->
<!--    <mat-selection-list></mat-selection-list>-->

<!--  </mat-form-field>-->


</div>

  <div class="divide"></div>

  <div class="category">
    <label class="title">Rating</label>
    <select placeholder="select your country ">
      <option>select your Rating</option>
      <option>hy</option>
    </select>


  </div>
<div class="divide"></div>
  <div class="category">
    <label class="title">Type</label>
    <select>
      <option>select your Type</option>
      <option>hy</option>
    </select>


  </div>

  <app-boutton  [stateview]="submit" ></app-boutton>
</div>
