main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

app-main-presentation{

  width: 90%;
  align-self: center;
  margin-bottom: 80px;
  @media screen  and (max-width: 1280px) {

    width: 100%;

  }
}

  .presentation{
    background-image: url("/assets/grid-pattern.jpeg");
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    //position: relative;
    flex-direction: column;
    align-self: center;
    border-radius: 20px;
   // align-items: flex-end;
    background-color: #e7f2f8;
    width: 90%;
    height: 340px;
    margin-top: 80px;
    margin-bottom: 220px;
.introduction{
  margin-left: 20px;
  margin-top: 20px;
  //padding-bottom: 10px;
  color: #284256;
  p{
    color: #707478;
  }
  h2{
    color: #3A5CEE;
  }

  h1{
    display: flex;
    //justify-content: space-between;

  }
}


    .list-card{
     // position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      align-self: flex-end;
      margin-top: 20px;

     // align-content: flex-end;
      @media screen  and (max-width: 1280px){
        display: flex;
        flex-direction: column;
        align-self: center;


        app-card-presentations{
          width: 70%;
          height: 400px;
          //position: relative;
          margin-top: 0;
          margin-bottom: 30px;
          align-self: center;
        }
      }

    }
 @media screen and (max-width: 1280px){
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
   height: 1800px;

 }

  }
}


app-card-presentations{
  width: 280px;
  height: 300px;
  position: relative;
  align-self: flex-end;
  margin-right: 20px;
  border: 1px solid rgba(140, 201, 244, 0.5);
//  margin-top: 120px;



}

.list-cardv2{

  //background-image: url("/assets/grid-pattern.jpeg");

  display: flex;
  width: 80%;
  height: 600px;
  align-self: center;
  margin-bottom: 80px;
  app-countries-presentations{
    width: 100%;
    height: 500px;
    margin-left: 20px;
    align-self: center;

    @media screen  and (max-width: 1280px){
      height: 800px;
      margin-left: 0;

    }
  }

  @media screen  and (max-width: 1280px){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 2800px;



  }
}

.title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
  color: #284256 ;
  font-size: 50px;
  img{
    width: 20%;
    height: 10%;

  }
}

.project{
  background-image: url("/assets/grid-pattern.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  background-color: black;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  margin-bottom: 150px;
.head{
  display: flex;
  justify-content: space-between;

  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 20px;

  app-mini-serach-bar{
    width: 30%;
    margin-right: 50px;
  }
  .introduction{

    @media screen and (max-width: 1280px){
      display: flex;
      flex-direction: column;
    }

    p{
      color: #707478;
    }
    h2{
      color: #3A5CEE;
    }
  }
}


  .list-v4{
    display: flex;
    justify-content: center;
    overflow: hidden;
    @media screen  and (max-width: 1280px){
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: scroll;

    }
    app-card-pro {
      width: 80%;
      height: 400px;
      // border:  1px solid rgba(140, 201, 244, 0.5);
      margin-left: 20px;
      // margin-bottom: 250px;
      //background-color: yellow;

      align-self: center;


    }

  }

}

h1{
  align-self: center;
}


