<main>
  <app-main-presentation></app-main-presentation>

<!--  <h1 class="title">-->
<!--    <img src="assets/about-us.gif" alt="">-->
<!--    What we do ?</h1>-->

  <app-card-project-presentation [cardPresentation]="cardsProject1" ></app-card-project-presentation>
  <div class="presentation">
      <div class="introduction">
        <h2>com on.</h2>
        <h1>About  us ?</h1>
        <p>oueuvre humanitaire lever de fond </p>

      </div>




   <div class="list-card">
     <app-card-presentations (click)="leave(1)" [cardModel]="cardIdentity"></app-card-presentations>
     <app-card-presentations (click)="leave(2)"  [cardModel]="cardMission"></app-card-presentations>
     <app-card-presentations (click)="leave(3)"  [cardModel]="cardVision"></app-card-presentations>
     <app-card-presentations (click)="leave(4)"  [cardModel]="cardObjectif"></app-card-presentations>

   </div>

  <div class="content">
    <div  @fade *ngIf="i==1" class="mat-card-content flex justify-center">
      <h1 class="title present">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur expedita ipsam iste iusto nemo odit quo sint unde ut.</h1>
      <div class="img"  [ngStyle]="{backgroundImage:'url(assets/identity-description.gif)'}"></div>
    </div>
    <div @fade *ngIf="i==2" class="mat-card-content flex justify-center">
      <h1 class="title present">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem deleniti earum laborum modi perspiciatis, qui rem repellat. Asperiores atque consequuntur corporis dolor esse quaerat quibusdam vero. Amet asperiores doloremque dolores expedita harum magni omnis quam, reprehenderit sunt, ullam ut, vel voluptatem. Expedita facilis laudantium modi odit, perferendis sint sunt.</h1>
      <div class="img" [ngStyle]="{backgroundImage:'url(assets/mission-detail.gif)'}"></div>

    </div>
    <div @fade *ngIf="i==3" class="mat-card-content flex justify-center">
      <h1 class="present title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur expedita ipsam iste iusto nemo odit quo sint unde ut.</h1>
        <div class="img" [ngStyle]="{backgroundImage:'url(assets/vision-detail.gif)'}"></div>
    </div>
    <div @fade *ngIf="i==4" class="mat-card-content flex justify-center">
      <h1 class="present title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur expedita ipsam iste iusto nemo odit quo sint unde ut.</h1>
       <div class="img" [ngStyle]="{backgroundImage:'url(assets/objectif-detail.gif)'}"></div>
    </div>
  </div>












 </div>

  <app-card-project-presentation [cardPresentation]="cardsProject2" ></app-card-project-presentation>

<h1 class="title">Nous intervenons dans plusieur pays tels que :</h1>
<!--  <div class="list-cardv2">-->
<!--    <app-countries-presentations></app-countries-presentations>-->
<!--    <app-countries-presentations></app-countries-presentations>-->
<!--    <app-countries-presentations></app-countries-presentations>-->
<!--    <app-countries-presentations></app-countries-presentations>-->

<!--  </div>-->

  <div class="title">

<app-card-project-presentation [cardPresentation]="cardsProject" ></app-card-project-presentation>
  </div>

  <div class="project">
<div class="head">
  <div class="introduction">
    <h2>com on.</h2>
    <h1>View  Project .</h1>
    <p>oueuvre humanitaire lever de fond </p>


  </div>

  <app-mini-serach-bar></app-mini-serach-bar>

</div>

<div class="list-v4">
<!--  <app-card-pro [cardPresentation]="cardPro"></app-card-pro>-->
<!--  <app-card-pro [cardPresentation]="cardPro"></app-card-pro>-->
<!--  <app-card-pro [cardPresentation]="cardPro"></app-card-pro>-->
<!--  <app-card-pro [cardPresentation]="cardPro"></app-card-pro>-->
</div>




  </div>

</main>

