main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  overflow-x: hidden;

app-main-presentation{

  width: 90%;
  height: 580px;
  align-self: center;
  margin-bottom: 80px;
  border-radius: 20px;
  //border : 2px solid;
  @media screen  and (max-width: 1225px) {

    width: 100%;

  }
}

  .presentation{
    background-image: url("/assets/grid-pattern.jpeg");
//    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    //position: relative;
    flex-direction: column;
    align-self: center;
    border-radius: 20px;
   // align-items: flex-end;
    background-color: #e7f2f8;
    width: 90%;
    height: 340px;
    margin-top: 80px;
    margin-bottom: 220px;
.introduction{
  margin-left: 20px;
  margin-top: 20px;
  //padding-bottom: 10px;
  color: #284256;
  p{
    color: #707478;
  }
  h2{
    color: #3A5CEE;
  }

  h1{
    display: flex;
    //justify-content: space-between;

  }
}


    .list-card{
      background-image: url("/assets/grid-pattern.jpeg");
     // position: absolute;
      display: flex;
      width: 100%;
      justify-content: center;
      align-self: flex-end;
      margin-top: 20px;

     // align-content: flex-end;
      @media screen  and (max-width: 1225px){
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;


        app-card-presentations{
          width: 80%;
          height: 400px;
          margin-left: 0;
          //position: relative;
          margin-top: 0;
          margin-bottom: 30px;
          align-self: center;
        }
      }

    }
 @media screen and (max-width: 1225px){
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 1800px;

 }

  }
}


app-card-presentations{
  width: 280px;
  height: 300px;

  align-self: flex-end;
  margin-right: 20px;

  border: 1px solid rgba(140, 201, 244, 0.5);
//  margin-top: 120px;



}

.list-cardv2{

  background-image: url("/assets/grid-pattern.jpeg");

  display: flex;
  width: 80%;
  height: 600px;
  align-self: center;
  margin-bottom: 80px;
  app-countries-presentations{
    width: 100%;
    height: 500px;
    margin-left: 20px;
    align-self: center;

    @media screen  and (max-width: 1225px){
      height: 800px;
      margin-left: 0;

    }
  }

  @media screen  and (max-width: 1225px){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 2800px;



  }
}



h1{
  align-self: center;
}
.content{
  align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
mat-card{
  height: 20%;
  margin-bottom: 650px;
}
mat-card-content{
  display: flex;
  margin-bottom: 150px;
}

app-card-project-presentation{
  margin-top: 80px;
}

.mat-card{
  width: 90%;
  align-self: center;
  overflow-x: hidden;



}


.content{
 width: 90%;
 // box-shadow: 20px 20px 20px 20px rgba(97, 100, 238, 0.3);
  height: 1800px;

 // margin-top: 200px;
  display: flex;
  justify-content: center;

 // overflow-x: hidden;

  .present{

    font-size: 25px;
    width: 50%;
  }
  .mat-card-content{
    position: relative;
    height: 100%;

    width: 100%;
    box-shadow: 0 0 15px 15px rgba(97, 100, 238, 0.2);

    transition: ease-in-out 3s;




    img{

    }

  }
}

.mat-card-content:hover{
  transform: translateX(100%);
}
